# Папка виртуального окружения
venv/

# Файлы с секретными данными (токен бота!)
.env

# База данных (если она содержит данные пользователей, лучше не загружать)
db.sqlite3

# Системные папки и кэш Python
.idea/
__pycache__/
*.pyc